.Dictionary{
    background: #9fc0f5;
    text-align: center;
}
.App h1{
    text-align: center;
    color: aliceblue;
}
.App h4{
    text-align: center;
    color: aliceblue;
}
.App footer{
    text-align: center;
}
.App{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
}
.Dictionary section {
    background: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    margin: 20px 0;
  }
 .App footer{
     color: aliceblue;
 }
 .App a{
  color:black
 }